.tableStyle {
    position: absolute;
    right: 10%;
    top: 15%;
    color: #f0f8ff;
    box-shadow: 10px 10px 3px #313131;
    width: 70%;
    border: 7px solid rgba(152, 161, 155, 0.865);
    border-radius: 0.3rem;
    animation: opacityTable 1s;
}
@keyframes opacityTable {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.thStyle {
    background: #026136;
    color: white;
    padding: 30px;
    text-align: center;
    font-family: Norwester;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
    letter-spacing: 10px;
}
tbody{
    line-height: 70px;
}
tr{
    margin: 10px 0;
}
.tdStyleGreen{
    border: 1px solid gray;
    background: #42414158;
    padding: 8px;
    font-size: 30px;
    font-family: Norwester;
    letter-spacing: 10px;
}
@font-face {
    font-family: 'Norwester';
    src: url('../Page1/css/font-family/norwester.otf');
}